div{
    padding: 1px;
    background-color: goldenrod;
}
header{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
table{
    padding: 5px;
    border-color: blue;
}
thead{
    padding: 5px;
    border-bottom-style: double;
}
th{
    text-align: center;
    text-justify: auto;
}
footer{
    padding: 5px;
    background-color:goldenrod;
}
audio{
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    
}